.cart-page {
  background-color: #ff8fb4;
  min-height: 100vh;       
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main-content-cart {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.right-backgrount {
  width: 40%;
  position: absolute;
  right: 0;
  position: fixed;
}

.cart-footer {
  z-index: 10;
  margin-top: 80px;
}

.info-payment {
  flex: 1; 
  position: relative;
}

.info-product {
  margin-left: 2%;
  flex: 70;
}
.icon-out-cart {
  width: 6%;
  margin-top: -4px;
  margin-right: 7px;
}

.shoping-continue-btn {
  border: none;
  background-color: #ff8fb4;
  color: #ffffff;
  margin-top: 1%;
}

.line-cart {
  border: 1px solid #ffffff;
  width: 55%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.title-cart-info-product {
  color: #ffffff;
}

.border-img-product {
  background-color: #ff6699;
  padding: 10px;
  border-radius: 12px;
  display: inline-block;
  border: 2px solid #ffffff;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-img-product img {
  max-width: 100%;
  max-height: 100%;
}

.product-container {
  padding: 10px;
  border-radius: 12px;
  border: 2px solid #ffffff;
  width: 55%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 40px;
}

.left-container {
  display: flex;
}

.right-container{
  display: flex;
  color: #ffffff;
  margin-top: 6%;
  max-width: 300px;
  min-width: 300px;
  justify-content: space-between;
}

.product-info-left-container {
  width: 30%;
  margin-left: 15px;
  color: #ffffff;
  margin-top: 3%;
}

.quantity-container-cart{
  display: flex;
}

.quantity-control{
  display: flex;
  flex-direction: column;
  margin-top: -14px;
}

.qty{
  max-width: 25px;
  min-width: 25px;
}

.btn-qty{
  border: none;
  background-color: #ff8fb4;
  color: #ffffff;
}

.bnt-delete-cart{
  border: none;
  background-color: #ff8fb4;
  height: 70%;
  margin-top: -12px;
}

.payment-show{
  position: absolute;
  z-index: 100;
  border: 2px solid #ffffff;
  padding: 10px;
  right: 4%;
  top: 4%;
  position: fixed;
  border-radius: 10px;
  color: #ffffff;
  max-width: 420px;
  min-width: 420px;
}

.title-payment-info{
  color: #dcdada;
  font-size: 14px;
}

.bnt-payment{
  margin-right: 10px;
  min-height: 40px;
  margin-left: 10px;
  border: none;
  background-color: #ffffffa5;
  padding: 10px;
  border-radius: 10px;
}

.bnt-payment:hover{
  background-color: #ffffff;
}

.bnt-payment-active{
   background-color: #ffffff;
}

.img-payment-bnt{
  width: 50%;
}

.img-payment-bnt-visa{
  width: 30%;
}

.content-payment-method{
  margin-top: 5%;
  max-height: 320px;
  min-height: 320px;
  justify-items: center;
  align-items: center;
}

.content-date-cvv-card{
  display: flex;
  justify-content: space-between;
}

.cvv-card{
  padding-left: 10px;
}

.title-content-card{
  margin-top: 5%;
  margin-bottom: -0.1px;
  font-family: Arial;
}

.input-content{
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  outline: none;
  border: none;
}

.input-content-date-cvv{
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  outline: none;
  border: none;
}

.border-qr-one{
  background-color: #173DA2;
  justify-content: center;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 1px;
  width: 70%;
  border-radius: 15px;
  text-align: center;
  justify-content: center;
}

.border-qr-two{
  background-color: #C2D3FF;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  justify-content: center;
}

.border-qr-three img{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 10px;
}

.content-qr-pay{
  font-size: 12px;
  max-width: 190px;
}

.payment-amount-qr{
  font-size: 14px;
  margin-top: 10%;
  color: #ffffff;
  font-weight: bold;
  width: 160px;
  padding-left: 30px;
}

.card-payment-method{
  padding-left: 10px;
  padding-right: 10px;
}

.line-payment-amount{
  border: 1px solid #ffffff;
  width: 100%;
}

.sub-payment-container{
  margin-top: 5%;
}

.sub-payment{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -7px;
}

.bnt-checkout-payment{
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  border: none;
  background-color: #f3f2f243;
  color: #ffffff;
  font-weight: bold;
}

.payment-show.shrink {
  max-height: 150px;  
  overflow: hidden;
}

.cod-payment-method{
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 20px;
  max-height: 300px;
  min-height: 300px;
}

.content-cod-pay{
  font-size: 15px;
  font-weight: bold;
}

.delivery-information{
  font-size: 20px;
  color: #dcdada;
  margin-bottom: 10px;
  font-weight: bold;
}

.info-cod-pay{
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 50px;
}

.img-address-cod{
  width: 30px;
  margin-bottom: 10px;
}

.title-cod-pay{
  display: flex;
  align-items: center;
}

.border-info-cod-pay{
  display: flex;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 10px;
}

.border-info-cod-pay img{
  width: 10px;
  height: 15px;
  transform: scaleX(-1);
  margin-left: 10px;
}

.bnt-change-address{
  border: none;
  background-color: #FF6EA5;
  color: #ffffff;
  padding: 5px;
  border-radius: 10px;
  margin-right: -5px;
}

.border-info-cod-pay-address-edit{
  display: flex;
  flex-direction: column;
  margin-top: -30px;
}

.border-info-cod-pay-address-edit input{
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  margin-bottom: 10px;
  width: 354px;
}

.border-info-cod-pay-address-edit button{
  border: none;
  background-color: #FF6EA5;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
} 

.bnt-apply-address:hover{
  background-color: #ff3f7f;
  cursor: pointer;
}