
.footer {
  background: #173da2;
  color: #fff;
  width: 100%;
  margin-top: auto; 
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.footer__container {
  padding: 16px 60px 32px;
  box-sizing: border-box;
}


.footer__title {
  font-size: 50px;
  margin: 0 0 8px;
}


.footer__top {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  flex-wrap: wrap;
}
.footer__dot {
  font-size: 20px;
  margin-right: 8px;
}
.footer__label {
  font-weight: 700;
}

.footer__email {
  position: relative;
  margin-top: 12px;
}
.footer__input {
  width: 450px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 110px 0 15px;
  background: #8da0d4;
}
.footer__send {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  padding: 9px 16px;
  background: #fff;
  color: #1546a0;
  border-radius: 50px;
  border: none;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}

.footer__location {
  display: flex;
  align-items: flex-start;
  gap: 100px;
}
.footer__locText span {
  display: block;
}
.footer__locBtn {
  margin-top: 20px;
}
.footer__route {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  border: none;
  color: #1546a0;
  font-weight: 700;
}
.footer__routeIcon {
  width: 20px;
  height: 15px;
  margin-left: 6px;
}


.footer__hr {
  background: #fff;
  border: 0;
  height: 1.5px;
  width: 100%;
  margin: 24px 0;
}
.footer__hr--end {
  margin-bottom: 0;
}


.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}

.footer__links {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px 30px;
  margin-top: 10px;
}
.footer__link {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}
.footer__link:hover {
  text-decoration: underline;
}

.footer__privacy {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__icon {
  width: 28px;
  height: 28px;
}
.footer__privacyLink {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .footer__title {
    font-size: 36px;
  }
  .footer__input {
    width: 100%;
  }
  .footer__top {
    gap: 16px;
  }
  .footer__location {
    gap: 24px;
    flex-wrap: wrap;
  }
}
