/* Header CSS with unique prefixes to avoid conflicts */
.header-container {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  height: 70px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  align-items: center;
}

.header-logo {
  width: 150px;
  height: auto;
  margin-left: 60px;
}

.header-link-content {
  margin-top: 10px;
  display: flex;
}

.header-link {
  margin-right: 50px;
  color: #ff8fb4;
  text-decoration: none;
}

.header-icon-content {
  margin-right: 20px;
  margin-top: 10px;
  display: flex;
}

.header-container-search {
  margin-top: -5px;
  margin-right: -30px;
}

.header-text-search {
  width: 200px;
  height: 28px;
  border: 2px solid #ff8fb4;
  border-radius: 7px;
  outline: none;
  padding-left: 3px;
  padding-right: 30px;
}

.header-icon {
  width: 25px;
  height: 25px;
  margin-right: 40px;
}
