.login-main-container {
  margin-left: 70px;
  width: 570px;
  border-radius: 20px;
}

.logoLogin {
  width: 150px;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.login-container {
  margin-left: 10px;
}

.login-container h2,
a,
p {
  color: white;
}

.login-form {
  margin-top: 20px;
}

.title-a {
  color: #ffffff;
  text-decoration: none;
}

.email-login,
.password-login {
  width: 330px;
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
  border: 1.6px solid #ff5ca2;
  background-color: #4564b5;
  color: white;
  outline: none;
  margin-bottom: 10px;
  font-size: 15px;
}

.email-login {
  margin-left: 26px;
  margin-top: 10px;
}

.password-login {
  margin-left: 90px;
  margin-top: 10px;
}
.checkbox-forgot-container {
  display: flex;
  margin-left: 155px;
  margin-top: 5px;
  color: #ffffff;
}
.checkbox-container-login a {
  font-size: 13.5px;
  
}
.checkbox-container-login input[type="checkbox"] {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  border: 1.6px solid #ffffff;
  background-color: #4564b5;
  margin-top: 7px;
}

.link-forgot {
  margin-left: 90px;
  font-size: 13.5px;
  color: #ffffff;
  text-decoration: none;
  margin-top: 5px;
}

.login-form button[type="submit"] {
  width: 500px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #ff5ca2;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.or-container-login {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
  justify-content: space-between;
  margin-right: 10px;
  color: white;
}

.or-container-login a {
  color: white;
  font-weight: bold;
  font-size: 15px;
}
.social-login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  margin-left: 23px;
}
.social-login a {
  color: #ff8fb4;
  font-size: 14px;
  text-decoration: none;
  margin-left: 9px;
  margin-right: 9px;
}

.login-link {
  display: flex;
  justify-content: center;
  margin-left: -1opx;
  margin-top: -10px;
}
.login-link p {
  color: white;
  font-size: 15px;
}
.login-link a {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
}

.error-create-user {
  margin-top: 10px;
  min-height: 20px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-create-user p {
  color: red;
  font-size: 13px;
  margin: 0;
}