.history-container {
  height: 100vh;
}

.order-history-content {
  color: #ff8fb4;
  font-weight: bold;
}
.table-order{
    margin-right: 5%;
}

.order-history {
  margin: 20px auto;
  width: 100%;
  border-radius: 10px;
  overflow-x: auto;
  font-family: Arial, sans-serif;
}

.order-history table {
  width: 100%;
  text-align: left;
}

.order-history th {
  background: #ff8fb4 !important;
  color: white;
  padding: 12px;
  text-transform: uppercase;
  font-size: 14px;
}

.order-history td {
  padding: 10px;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #f2f2f2;
}

.order-history a {
  color: #173da2;
  font-weight: bold;
  text-decoration: none;
}

.order-history .view-details {
  color: #ff8fb4;
  font-weight: bold;
}

.status {
  font-weight: bold;
}

.status.pending { color: #ffb347; }       
.status.payment { color: #2EC38C; }       
.status.processing { color: #2EC38C; }    
.status.shipping { color: #2EC38C; }      
.status.delivered { color: #2EC38C; }     
.status.cancelled { color: #CA3030; }     
.status.refunded { color: #909090; }     
.status.returned { color: #909090; }      
.status.failed { color: #CA3030; }        
.status.unknown { color: #ffb347; }       
